.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    height: 200px;
    background-color: white;
    padding: 15px;
}

.cart-item_img {
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-right: 2rem;
}

.cart-item_controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.cart-item_amount {
    font-size: 1.5rem;
    margin: 0 30px;
}

.btn-amount {
    border-radius: 10px;
    border: 2px  solid green;
    color: green;
    background-color: white;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-amount:hover {
    background-color: green;
    color: white;
}
