.cart {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    margin: 5vw 0;
    gap: 30px;
}

.cart_total_amount {
    margin: 0;
    font-size: 1.5rem;
}

.cart_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid green;
    border-radius: 5px;
    background-color: white;
    padding: 1.5rem 5rem;
    align-self: center;
}

.btn-checkout {
    margin-top: 20px;
}