.filter-container {
    display: flex;
    background-color: green;
    color: white;
    justify-content: space-around;
    padding: 0 5%;
}
@media (max-width: 400px) {
    .filter-container {
        display: none;
    }
    
}
.selected {
    background-color: white;
    color: green;
}

.filter {
    display: flex;
}

.filter ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.filter ul li {
    display: block;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.filter ul li:hover {
    text-decoration: underline;
}