header {
    display: flex;
    background-color: aliceblue;
    border-bottom: 2px solid green;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
@media (max-width: 400px) {
    header {
        flex-direction: column;
    }
}

.header-logo {
    color: green;
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
    text-decoration: underline;
}

.header-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-nav_item {
   margin: 0 3vw;
    padding-bottom: 3px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.header-nav_item:hover {
    border-bottom: 3px solid green;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aliceblue;
    border-top: 2px solid green;
    text-align: center;
    padding: 2vw 5vw;
}
footer h3 {
    margin: 0;
}